<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">

  <title>Profile</title>
</head>
<body>

<h2 class="title3">Your Profile</h2>

<!-- Display the user’s info -->
<form>
<div class="profildata">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" th:value="${user.username}" readonly>
</div>

<div class="profildata">
  <label for="email">Email:</label>
  <input type="text" id="email" name="email" th:value="${user.email}" readonly>
</div>

<!-- Link to edit profile -->
<a href="/auth/edit-profile">Edit Profile</a>
<br><br>
<a href="/recipes">Cancel</a>
</form>

</body>
</html>