<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe Management</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<h1 class="home">Welcome to 'Recipes'</h1>

<div class="links">
<!-- Link to add a new recipe -->
<a href="/recipes/new">Add New Recipe</a>

<!-- Link to view all recipes -->
<a href="/recipes/view-all">View All Recipes</a>

<a href="/profile">Profile</a>

    <!-- Logout Button -->
    <form th:action="@{/logout}" method="post">
        <button type="submit">Logout</button>
    </form>

</div>

<!-- Message for no recipes in the list -->
<div th:if="${#lists.isEmpty(recipes)}" class="error">
    <p>No recipes available.</p>
</div>



</body>
</html>