body {
    background-color: #ffb6c1;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Form styling */
form {
    background-color: none;
    border-radius: 30px;  /* Rounded corners for the form */
    width: 350px; /* Strong shadow for the form */
    margin-top: 30px;
}

/* Input field styling */
input[type="text"],
input[type="password"], input[type="email"] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: none;  /* Remove border */
    border-radius: 25px;  /* Fully rounded input fields */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  /* Soft shadow for input fields */
    font-size: 16px;
    background-color: #f9f9f9;  /* Slightly lighter background for inputs */
}

label {
    position: absolute;
    font-size: 25px;
    margin-left: 15px;
    margin-right: 0px;
    margin-top: -25px;
    margin-bottom: 00px;
    font-family: cursive;
}

button {
    background-color: #ff66b3;
    color: white;
    border: none;
    padding: 10px;
    width: 180px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

button:hover {
    background-color: #ff3385;  /* Darker pink on hover */
}

#remove {
   margin-bottom: -255px;
   margin-left: -150px;
}

h2 {
    font-size: 32px;
    color: #ff66b3;
    margin-bottom: 20px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

a {
    color: #ff3385;
    text-decoration: none;
    font-size: 25px;
}

a:hover {
    text-decoration: underline;
}

#link3 {
    position: absolute;
    margin-right: 180px;
    margin-left: 0px;
    margin-bottom: -400px;
    margin-top: 0px;
}

.title4 {
     position: absolute;
     margin-top:0px;
     margin-bottom: 540px;
     margin-left: 0px;
     margin-right: 150px;
     color: #F8E2B1;
     font-size:70px;
     font-family: cursive;
     text-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);

}


